# This file contains common pin mappings for the BIGTREETECH ToolBoard
# Canbus board. To use this config, the firmware should be compiled for the
# RP2040 with "USB" or "CAN bus (on gpio4/gpio5)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

########################################################################################################################### MCU

[mcu ToolBoard]
serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
#canbus_uuid: 0e0d81e4210c

########################################################################################################################### BOARD TEMP SENSOR

[temperature_sensor Toolboard_Temp]
sensor_type: Generic 3950
sensor_pin: ToolBoard:gpio28

########################################################################################################################### EXTRUDER

[extruder]
step_pin: ToolBoard:gpio18
dir_pin: !ToolBoard:gpio19
enable_pin: !ToolBoard:gpio17
microsteps: 32
rotation_distance: 22.6789511
gear_ratio: 50:10
full_steps_per_rotation: 200 #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: ToolBoard:gpio7
sensor_pin: ToolBoard:gpio27
min_temp: -270
max_temp: 310
max_power: 1.0
min_extrude_temp: 140
control: pid
pid_Kp=37.170 
pid_Ki=11.263 
pid_Kd=30.665
sensor_type: ATC Semitec 104NT-4-R025H42G
max_extrude_cross_section: 5
max_extrude_only_distance: 400
max_extrude_only_velocity: 500

[tmc2209 extruder]
uart_pin: ToolBoard:gpio20
run_current: 0.650
stealthchop_threshold: 999999

########################################################################################################################### TOOLHEAD FANS

[fan]
pin: ToolBoard:gpio13

[heater_fan hotend_fan]
pin: ToolBoard:gpio14
heater: extruder
heater_temp: 50.0

[fan_generic 4W_FAN0]
pin: ToolBoard:gpio15
tachometer_pin: ToolBoard:gpio12
#tachometer_ppr: 1

########################################################################################################################### PROBE

[probe]
pin: ToolBoard:gpio22
x_offset: 0
y_offset: 0
#z_offset: 0
speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3
activate_gcode:
    {% set PROBE_TEMP = 180 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}